/* Index.html page  */

body {
    overflow-x: hidden;
    margin: 0;
    transition: all 1s linear;
    padding: 0;
}

p,
ul,
label,
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

/* Header part */

#top-header {
    background-color: #ece5e5;
}

.header-list {

    list-style-type: none;
}



.header-item {
    color: black;
    padding: 5px;
}

.header-item:hover {
    text-decoration: none;
    color: #202353;
}

.button-wrap {
    padding: 0 25px;
}

/* Home top navbar part */

#nav-bar {
    background-color: white;
}


.nav-item {

    list-style-type: none;
    display: inline-block;
    color: rgb(89, 111, 123);
    text-align: center;
    margin-bottom: 5px;
}

.label-date {
    color: white;
    padding: 0px 3px;
    margin: 0px 7px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: orange;
}

.logo-image {
    width: 80%;
}

.logo {
    width: 20%;
}


/* Navigation Bar  */
/* 
#topNavigationBar{
    font-size: 15px;
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: #252634
}

.navbar-fixed-top .navbar-nav{
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}
.navbar-fixed-top .navbar-nav a{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}
.navbar-fixed-top .navbar-nav i{
    font-family: FontAwesome;
    margin: 5px;
}
.navbar-fixed-top .nav-item{
    margin: 10px 0;
}
#navbar-drop1{
    color: aliceblue;
} */

/* Logo wrapper */

/* .logo-image-wrap{
    align-items: center;
    display: inline-flex;
}
.logo-image{
    width: 90%;
    padding: 30px;
    border-right: 1px solid rgb(220, 220, 220);
}
.logo-description{
   padding: 30px;
}

.logo{
    width: 20%;
} */

/* Top banner */
#top-banner {
    background-color: rgb(22, 21, 21);
    height: 383px;
}

.banner-top-image {
    object-fit: cover;
    width: 100%;
    height: 40%;
    opacity: 0.5;
}

.overlay-box-banner {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 67%;
}

.overlay-box {
    width: 100%;
    transform: translate(0%, -150%);
}

.overlay-description {

    font-weight: bold;
    font-size: 20px;
    text-align: center;
    /* margin-top: 50px; */
    color: white;
}

#top-banner .nav-bar-item {
    margin: 5px;
    text-align: center;

}

/* .second-nav{
margin-bottom: 50px;
} */



#btn-search {
    background-color: #2cb327;
    padding: 8px 12px;
    color: aliceblue;
}

.btn {
    float: right;
    color: black;
    background: transparent;
    border: none;
}

.nav-bar-item {
    border: none;
    border-radius: 5px;
    color: rgb(89, 111, 123);
}

::placeholder {
    color: rgb(89, 111, 123);
}

.nav-bar-item:focus {
    outline: none;
}

#nav-bar-drop2 {
    /* background-color: #117db0; */
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 12px;
    color: whitesmoke;
}

.date-wrap {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.overlay-background {
    background-color: grey;
    opacity: 0.5;
}


/* Toggle Tab Wrap */
.toggle-tab {
    margin: 15px;
}

.tab-title {
    margin: 5px 10px;
}

/* Top slick */

.slick-header {
    margin: 0;

}

.slick-header h5 {
    border-bottom: 1px solid #ece8e8;
}

.slick-header h5::after {
    content: '';
    height: 3px;
    width: 130px;
    background-color: #47a1de;
    display: block;
    margin-top: 5px;
}

.slick-image-name {
    color: black;
    text-align: center;

}

.slick-image {
    margin: 0px 15px;
    transition: 1s;
}

.slick-image:hover .slick-image-name {
    color: orange;

}

/* .slick-image:hover {
    transform: translateY(-10px);
    transition: 1s;
} */


/* Bottom banner */

#bottom-banner {
    margin: 20px 0;
}

.banner-image {
    object-fit: cover;
    width: fit-content;
    height: 300px;
    width: 100%;
}

.overlay-bottom-banner {
    top: 50%;
    transform: translate(25%, -150%);
}

.banner-bottom-image {
    object-fit: cover;
}

/* Testimonial */

.testimonial-slider {
    background: transparent;
    width: 60%;
    left: 20%;

}

#testimonial-details .slick-header h5 {
    border-bottom: 1px solid #c8c8c8;
}

.testimonial-slider .slick-next {
    opacity: 0;
}

.testimonial-slider .slick-prev {
    opacity: 0;
}

#testimonial-details {
    background-color: rgb(224, 229, 234);
    padding: 30px 0;
}

#testimonial-details .row {
    justify-content: center;
}

.testimonial-content {
    margin: 30px 0px;
}

.testimonial-image {
    width: 90px !important;
    border-radius: 50%;
    vertical-align: middle;
    height: 90px;

}

.testimonial-list {
    list-style-type: none;
    text-align: center;
    justify-content: center;
    color: black;
    margin: 0px 30px;
}

.tl-1 {
    font-weight: bolder;
}

.tl-2 {
    font-style: italic;
    font-weight: lighter;
}

.slick-arrow::before {
    color: black;
    background: transparent !important;
    font-size: 30px;
}

.slick-next {
    right: -30px;
}

.slick-prev {
    left: -35px;
}

/* Footer part */

a:hover {
    text-decoration: none;
}

#footer-wrap {
    background-color: #252634;
    padding: 30px 0;
}


.footer-company-item {
    list-style-type: none;
    color: #4fa4df;
    transition: 1s;

}

.footer-company-item a {
    color: aliceblue;
}

.footer-company-item:hover a {
    color: orange;
}

.footer-company-item:hover {
    transform: translateX(20px);
    transition: 1s;
}

.footer-company-item .logo-image {
    height: auto;
    width: 150px;
}

.company-address {
    color: aliceblue;
}

.fa-caret-right {
    font-family: FontAwesome;
    font-style: normal;
    padding-right: 5px;
}


/* Newsletter part */

#newsletter {
    background-color: #252634;
}

.newsletter-wrap {
    padding: 100px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.newsletter-wrap .form-wrap h1 {
    color: white;
}

.form-wrap p {
    margin-bottom: 1.5rem;
    color: white;
}

.form-wrap h4 {
    color: white;
}

.input-wrap .input1 {
    line-height: 30px;
    width: 350px;
    border: none;
    background-color: whitesmoke;
    border-radius: 5px;
}

.input1::placeholder {
    color: #252634;
    padding-left: 15px;
}

.input-wrap .input2 {
    line-height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #f69a4b;
    color: white;
}

.input1:focus {
    outline: none;
}

.checkbox-wrap {
    margin: 5px 0 0 -65px;
    color: whitesmoke;
}


/* Payment footer */

.payment-wrap p {
    font-size: 14px;
    color: whitesmoke;
}

.payment-modes {
    width: 10%;

}

#payment {
    background-color: #252634;
    padding: 30px 0;
}


.headersticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.top-nav-style {
    position: fixed;
    top: 4%;
    width: 100%;
    z-index: 1;
}

.headingsWrapping {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: cornsilk;
}

.popup {
    top: 50%;
}

/* .mySearch {
    background-color: red !important;
} */

.sticky {
    position: fixed;
    top: 14%;
    z-index: 1;
    left: 18.3%;
    /* transition: all 3s linear;
    left: 0;
    text-align: center;
    margin: auto;
    justify-content: center;
    animation: example 1s;
    transform: scaleX(1);
    width: 100%;
    border-radius: 0 !important; */


}

/* @keyframes example {
    0% {
        width: 67%;
    }

    100% {
        width: 100%;
    }

} */

#form-inline-id {
    background-color: #202353;
    border-radius: 5px;
    height: 60px;
}


.asd {
    top: unset;
    transform: unset;
    left: 16.5%;
    width: 100%;
    /* transition: width 3s linear; */

}

.slick-image-only {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slick1 {
    width: 100%;
    height: 100%;
    transition: transform ease 0.3s;
}

.slick1:hover {
    transform: scale(1.2);
}







/* media for small screen */
@media only screen and (max-width:750px) {

    .button-wrap {
        padding: 0 15px;
    }

    .nav-item {
        margin: 3px;
    }

    #top-banner {
        height: 95vh !important;
    }

    .banner-overlay-wrap .banner-top-image {
        height: 95vh !important;
    }

    .overlay-box-banner {
        width: 100%;
        transform: translate(-50%, -10%) !important;
    }

    .header-item {
        font-size: 12px;
    }

    .header-list {
        padding: 1px;
    }

    .nav-link {
        font-size: 12px;
        padding: 0;
    }

    .logo-wrap {
        padding: 0px;
    }

    .logo-image {
        width: 60px;
        height: 15px;
    }

    .button-wrap .btn {
        font-size: 12px;
    }

    .footer-company-item {
        text-align: center;
    }

    .slick-next {
        right: 30px;
    }

    .slick-prev {
        left: 30px;
    }

    .overlay-description {
        font-size: 14px;
    }

    .nav-bar-item {

        width: 100%;
        color: rgb(89, 111, 123);
        text-align: center;
        margin-bottom: 10px;
    }

    .form-inline {
        justify-content: center;
    }

    #form-inline-id {
        height: 235px;
    }

    #nav-bar-drop2 {
        text-align: center;
    }

    .overlay-box-banner {
        top: 28% !important;
    }

    .second-nav {
        padding: 17px;
    }

    .date-wrap {
        font-size: 12px;
    }

    .testimonial-slider {
        width: 100%;
        left: 0;
    }

    ::placeholder {
        font-size: 12px;
        color: rgb(89, 111, 123);
        text-align: center;
    }

    .date-wrap {
        width: 100%;
    }

    .input-wrap .input1 {
        width: 100%;
        margin-bottom: 5px;
    }

    .checkbox-wrap {
        margin: 0;
    }

    .footer-item {
        margin-bottom: 15px;
    }

    .payment-privacy {
        font-size: 14px;
    }

    .headersticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .top-nav-style {
        top: 4.7%;
        width: 100%;
    }



    /* @keyframes example {
        0% {
            width: 67%;
        }
    
        100% {
            width: 100%;
        }
    
    } */

    /* #form-inline-id {
        background-color: #202353;
        border-radius: 5px;
        height: 60px;
    } */



    */ .slick-image-only {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .slick1 {
        width: 100%;
        height: 100%;
        transition: transform ease 0.3s;
    }

    .slick1:hover {
        transform: scale(1.2);
    }

    .zoom .viewer {
        display: none;
    }

    #detailOfHotel .hotel-image {
        width: 210px !important;
    }

    .iimage .original {
        width: unset;
        height: unset;
    }

    #hotelDetailPage .services {
        margin-top: 15px;
    }

    #about-booking-page .top-background-image .banner-content-header {
        font-size: 25px !important;
    }

    #about-booking-page .overlay-banner-content {
        padding: 20px !important;
        text-align: center;
    }

    #about-booking-page .overlay-banner-content h4 {
        font-size: 16px;
    }

    #about-booking-page .overlay-banner-content p {
        font-size: 12px;
    }

    #about-booking-page .overlay-banner-wrap {
        width: 80% !important;
        left: 10% !important;
    }

    #about-booking-page .more-about-us {
        top: 65vh !important;
    }

    #about-booking-page .a-bit-more-content {
        font-size: 14px !important;
    }

    #about-booking-page .more-about-us .overlay-1-content-text,
    .overlay-2-content-text {
        font-size: 12px !important;
    }

    #about-booking-page .more-about-us .overlay-1 {
        height: 40vh !important;
    }

    #about-booking-page .more-about-us .overlay-2 {
        height: 40vh !important;
    }

    #about-booking-page #footer-wrap {
        transform: translate(0, 65vh) !important;
    }

    #about-booking-page #payment {
        transform: translate(0, 64vh) !important;
    }

    #about-booking-page .more-about-us .overlay-1-content .read-more,
    .overlay-2-content .read-more {
        font-size: 12px;
    }



}









/* media for tablet screen */
@media only screen and (max-width:1020px) and (min-width:760px) {
    .overlay-box-banner {
        width: 92%;
    }

    .nav-bar-item {
        font-size: 12px;
    }

    #nav-bar-drop2 {
        margin: 5px;
        font-size: 12px;

    }

    #top-banner {
        height: 70vh;
    }

    .banner-overlay-wrap .banner-top-image {
        height: 70vh;
    }

    .overlay-box-banner {
        width: 100%;
        transform: translate(-50%, 0%);
        top: 40%;
    }


    .label-date {
        font-size: 12px;
    }

    #btn-search {
        padding: 8px 12px;
    }

    #detailOfHotel .hotel-image {
        width: 290px !important;
    }
}

/* media for laptop screen */

@media only screen and (max-width:1430px) and (min-width:1024px) {

    .nav-bar-item {
        font-size: 16px;
    }

    #nav-bar-drop2 {
        margin: 5px;
        font-size: 16px;

    }

    .label-date {
        font-size: 16px;
    }

    #btn-search {
        padding: 8px 12px;
    }

    #top-banner {
        height: 70vh;
    }

    .banner-overlay-wrap .banner-top-image {
        height: 70vh;
    }


    .overlay-box-banner {
        top: 60%;
        width: 100%;
    }

    .sticky {
        top: 14.2%;
        transform: unset;
        left: unset;
    }

    .asd {
        left: unset;
    }

    /* #detailOfHotel .hotel-image {
        width: 290px !important;
    } */

}



@media only screen and (min-width:1435px) {

    .nav-bar-item {
        font-size: 18px;
    }

    #nav-bar-drop2 {
        margin: 5px;
        font-size: 18px;

    }

    .label-date {
        font-size: 18px;
    }

    #btn-search {
        padding: 8px 12px;
    }

    .asd {
        transform: unset;
        left: unset;
    }



}


/* End of index.html page */


/* Starting of hotels.html page */
.search-bar-wrap {
    text-align: center;
}

.search-bar {
    border-radius: 5px;
    border: 1px solid black;
    line-height: 40px;
    margin: 20px 0;
    width: 70%;
}

.search-bar::placeholder {
    color: gray;
    text-align: center;
}

.search-bar-btn {
    margin: 20px 0;
    line-height: 43px;
    border-radius: 5px;
    margin: 0 10px;
    width: 20%;
    border: none;
    background-color: steelblue;
    color: whitesmoke;
}

.last-minute-hotel-heading {
    margin: 20px 0;
}

.hotel-card {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 20px 0;
}

.hotel-card::after {
    content: '';
    display: block;
    margin-top: 10px;
}

.hotel-card-title {
    color: #000;
    font-size: 18px;
}

.hotel-card-subtitle {
    color: gray;
}

.hotel-card-content {
    width: 100%;
    margin: 0 20px;
}

.hotel-card-image {
    height: auto;
    width: 120px;
}

.hotel-deals {
    margin: 10px;
}

.hotel-price-display-label {
    color: gray;
}

.hotel-price-display-label-price {
    font-weight: bolder;
    font-size: 18px;
}

.hotel-deals-more {
    text-align: center;
}

.hotel-card-button {
    border-radius: 5px;
    line-height: 50px;
    margin: 10px;
    background-color: #00487a;
    color: whitesmoke;
    border-style: none;
}

.hotel-card-button span {
    text-align: center;
    padding: 10px;
}






/* End of hotels.html page */


/* Start of Hotel Details page */
#hotelDetailPage {
    background-color: #edf6ff;
}



#hotelDetailPage .nav-item a:hover {
    color: orange;
}

#hotelDetailPage .navigation-bar {
    border-bottom: 1px solid gray;
    background-color: #808080;
    padding: 0 20px;
}

#hotelDetailPage .nav-item a {
    color: white;
}

#hotelDetailPage .headersticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#hotelDetailPage .top-nav-style {
    position: fixed;
    top: 4%;
    width: 100%;
    z-index: 1;
}

.breadcrumb {
    background-color: transparent;


}

#breadcrumb-wrapper {
    margin: 10px 40px;
    background-color: #f3f1f1;
    border-radius: 5px;
}

#breadcrumb-wrapper .breadcrumb li a {
    color: black;
}

.breadcrumb li {
    position: relative;
    margin-right: 10px;
}

.breadcrumb li:not(:last-of-type):after {
    position: absolute;
    right: 0;
    content: ">";
    color: black;
    opacity: 1.5;
    bottom: 0;
    font-size: 12px;
}

.breadcrumb li a {
    text-transform: capitalize !important;
    color: #888;
    padding-right: 12px;
    font-size: 12px;
}

.hotelDetail {
    margin: 10px 40px;
    background-color: #f3f1f1;
    border-radius: 5px;
}

.hotelDetail .hotel-detail-wrap {
    padding: 10px 0;
}

.hotelDetail .hotel-detail-wrap .hotel-detail-header h3 {
    color: dodgerblue;
}

.hotel-image {
    width: 100%;
    height: auto;
}

#hotel-description-review {
    background-color: #f3f1f1;
    margin: 10px 40px;
    border-radius: 5px;
}

.hotelDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}

.hotelDetail li {
    list-style-type: none;
}

.hotel-details-images-content {
    display: flex;
}

.hotel-details-image {
    width: 100%;
    height: 70px;
}

.hotelDescription .deal-price p {
    font-size: 14px;
    color: rgb(80, 138, 65);
    display: inline;
}

.hotelDescription .deal-price .pp {
    float: right;
}

.hotelDescription .book-now p {
    font-size: 15px;
    color: green;
    font-style: italic;
    display: inline;
}

.basic-description-list .fa {
    padding: 0 5px;
}

.basic-description-list {
    padding-right: 20px;
}

.hotelDescription .basic-facilities {
    font-size: 12px;
    color: #47a1de;
    padding: 5px 0;
}

.hotelDescription .payment-options {
    font-size: 12px;
    color: #47a1de;
}

.hotelDescription .payment-options h6 {
    font-size: 14px;
    color: #2cb327;
}

.normal-rate {
    font-size: 14px;
}

.normal-rate p {
    display: inline;
}

.classic-room {
    display: inline;
}

.normal-rate .nr-text {
    color: green;
}

.normal-rate .nr-p {
    float: right;
    color: green;
    font-size: 16px;
}

.bookNow {
    float: right;
    margin: 10px 0;
    border-radius: 5px;
    height: 80%;
    font-size: 16px;
    color: white;
    background-color: dodgerblue;
    border: none;
    width: 100%;
}

#hotelDetailPage .deal-price {
    display: inline-flex;
}

/* #first-tab {
    background-color: red;
} */
#hotelDetailPage .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: cadetblue;
}

#hotelDetailPage .room-options li {
    display: inline;
}

.bed-info {
    padding: 10px 0;
}

.bed-info h5 {
    color: brown;
}

.bed-info nav {
    margin: 10px 0;
}

#hotel-description-review li {
    list-style-type: none;
    padding: 5px 0;
    font-size: 15px;
}

#hotel-description-review .hotel-description-wrap {
    padding: 20px 0;
}

#hotel-description-review .tab-content {
    background-color: white;
    border-radius: 5px;
}

#reason-to-choose {
    margin: 10px 40px;
}

#reason-to-choose .reasonsToChoose {
    list-style-type: none;
}

.reason-to-choose-wrap {
    background-color: #f3f1f1;
    padding: 20px 0;
    border-radius: 5px;
}

.reason-to-choose-wrap h4 {
    color: sienna;
}

.reason-to-choose-wrap .reasonsToChoose {
    margin: 5px 0;
}

#hotelDetailPage .room-options h6 {
    color: #00487a;
    font-size: 16px;
}

#hotelDetailPage .room-options p {
    font-size: 14px;
}

/* .hotelDescription .p-ratings,
.dealPrice,
.bookNow {
    float: right;
} */

.bookNow:hover {
    color: orange;
}

.services {
    border: 1px solid gray;
    border-radius: 5px;
}

.services-header {
    margin: 15px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    color: dodgerblue;
}

.services-item {
    margin: 15px;
    font-weight: bold;
}


.services-item span {
    margin: 0px 5px;
}

.related-hotels {
    background-color: #f3f1f1 !important;
    margin: 10px 40px;
    border-radius: 5px;
}

.related-hotels .related-hotels-wrap {
    padding: 20px 0;
}

.related-hotels .related-hotels-wrap h4 {
    color: sienna;
}

.related-hotels-items {
    display: flex;
    margin: 30px 0;
}

.related-hotels-items h6 {
    margin-top: 10px;
}


.related-hotels-items a {
    color: black;
}

.related-hotels-items a:hover {
    color: orange;
}

#hotelDetailPage #footer-wrap {
    background-color: #808080;
}

#hotelDetailPage #payment {
    background-color: #808080;
}

#hotelDetailPage .footer-company-item h4 {
    color: #011357;
}

/* Zoom on hover plugin */
.zoom,
.original {
    position: relative;
}

.zoom {
    display: inline-block;
}

.original {
    cursor: crosshair;
}

/* #target {
    width: calc(var(--t) / 2);
} */

.zoom .viewer {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.zoom .viewer img {
    position: absolute;
}

.original:hover~div {
    display: block;
}

.original::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.magnifier {
    position: absolute;
    background: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
}


.magnifier,
.viewer {
    display: none;
}

.related-hotels-items .slick-prev {
    top: 30%;
}

.related-hotels-items .slick-next {
    top: 30%;
}

.travellers-review {
    color: #2cb327
}

.related-hotels-items .slick-slide img {
    width: 100%;
}

.services-list .fa {
    color: rgb(50, 104, 206);
}

.basic-description-list li {
    display: inline;
}

.basic-description-list li label {
    padding: 0 5px;
}

.faq-lists {
    list-style-type: none;
}

.faq-intro {
    background-color: gray;
    height: 100%;
}

.faq-content-row-inner {
    border: 1px solid gray;
    background-color: white;
    height: 50px;
}

/* About Booking Page */

#about-booking-page .aboutNavBar {
    background-color: aliceblue;
}

#about-booking-page .aboutNavBar .navbar .nav-item a {
    color: dimgrey;
}

#about-booking-page .aboutNavBar .navbar .nav-item a:hover {
    color: orange;
}

#about-booking-page .top-background-image .banner-content {
    top: 40%;
    left: 35%;
}

#about-booking-page .top-background-image .banner-content-header {
    font-size: 60px;
    color: white;
}

#about-booking-page .top-background-image .background-banner-image {
    object-fit: cover;
    width: 100%;
    height: 70vh;
}

#about-booking-page .overlay-banner-wrap {
    top: 60%;
    left: 15%;
    background-color: aliceblue;
    border-radius: 10px;
    width: 70%;
}

#about-booking-page .overlay-banner-content {
    padding: 50px;
}

#about-booking-page .more-about-us {
    background-color: #f1f7f6;
    top: 45vh;
    width: 100%;
}

#about-booking-page .a-bit-more-content {
    font-size: 35px;
    width: 100%;
    text-align: center;
    padding-top: 3.5%;
}

#about-booking-page .a-bit-more-content p {}

#about-booking-page .more-about-us .overlay-1 {
    background-color: blueviolet;
    border-radius: 10px;
    height: 50vh;
    color: white;

}

#about-booking-page .more-about-us .overlay-1-header,
.overlay-2-header {
    padding: 7%;
}

#about-booking-page .more-about-us .overlay-1-content-text,
.overlay-2-content-text {
    font-size: 30px;
    padding: 0 7%;
}

#about-booking-page .more-about-us .overlay-1-content .read-more,
.overlay-2-content .read-more {
    padding-left: 7%;
    padding-top: 5%;
}

#about-booking-page .more-about-us .overlay-2 {
    background-color: blueviolet;
    border-radius: 10px;
    height: 50vh;
    color: white;
}

#about-booking-page #footer-wrap {
    transform: translate(0, 55vh);
}

#about-booking-page #payment {
    transform: translate(0, 54vh);
}

#about-booking-page .overlay-wrap {
    padding: 10%;
}

#about-booking-page .more-about-us .overlay-1 a,
.overlay-2 a {
    color: white;
}

#about-booking-page .more-about-us .overlay-1 a:hover,
.overlay-2 a:hover {
    color: orange;
}