/* Index.html page  */

body {
    overflow-x: hidden;
    margin: 0;
    transition: all 1s linear;
    padding: 0;
}

p,
ul,
label,
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

/* Header part */

#top-header {
    background-color: #ece5e5;
    padding: 4px 0;
}

.header-list {

    list-style-type: none;
}



.header-item {
    color: black;
    padding: 5px;
}

.header-item:hover {
    text-decoration: none;
    color: #202353;
}

.button-wrap {
    padding: 0 25px;
}

/* Home top navbar part */

#nav-bar {
    background-color: aliceblue !important;
    box-shadow: 0px 3px 4px -3px cadetblue;
}


.nav-item {

    list-style-type: none;
    display: inline-block;
    color: rgb(89, 111, 123);
    text-align: center;
    margin-bottom: 5px;
}

.label-date {
    color: white;
    padding: 0px 3px;
    margin: 0px 7px;
}

.nav-link {
    color: #22397e;
}

.nav-link:hover {
    color: orange;
}

.logo-image {
    width: 80%;
}

.logo {
    width: 20%;
}


/* Top banner */
#top-banner {
    background-color: rgb(22, 21, 21);
    height: 350px;
}

.banner-top-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    opacity: 0.5;
    height: 350px;
}

.overlay-box-banner {
    top: 30%;
    /* left: 9.5%; */
    width: 100%;
}

#index-page .overlay-box-banner .detect-wrap {
    width: 20%;
    left: 7.5%;
    position: absolute;
    border-radius: 5px;
    line-height: 30px;

}

#top-banner #btn-search {
    width: 9%;
}

#index-page .overlay-box-banner .detect-wrap .detect-me {
    color: red;
    font-size: 12px;
    padding: 0 10px;
}

#index-page .overlay-box-banner .detect-wrap .detect-me-gps {
    color: gray;
    font-size: 12px;
    padding: 0 10px;
}

#index-page .overlay-box-banner .form-inline .location-track-wrap .fa {
    color: red;
    padding: 0 10px;
}

#index-page .overlay-box-banner .detect-wrap {
    display: none;
}

.overlay-box {
    width: 100%;
    transform: translate(0%, -150%);
}

.overlay-description {

    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 80%;
    color: white;
}

#top-banner .nav-bar-item {
    margin: 0 5px;
    padding: 5px 0;
    text-align: center;
}

/* .second-nav{
margin-bottom: 50px;
} */



#btn-search {
    background-color: #2cb327;
    padding: 8px 12px;
    color: aliceblue;
}

.btn {
    float: right;
    color: black;
    background: transparent;
    border: none;
}

.nav-bar-item {
    border: none;
    border-radius: 5px;
    color: rgb(89, 111, 123);
}

::placeholder {
    color: rgb(89, 111, 123);
}

.nav-bar-item:focus {
    outline: none;
}

#nav-bar-drop2 {
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px;
    color: whitesmoke;
}

.date-wrap {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.overlay-background {
    background-color: grey;
    opacity: 0.5;
}


/* Toggle Tab Wrap */
.toggle-tab {
    margin: 15px;
}

.tab-title {
    margin: 5px 10px;
}

/* Top slick */

.slick-header {
    margin: 0;

}

.slick-header h5 {
    border-bottom: 1px solid #ece8e8;
}

.slick-header h5::after {
    content: '';
    height: 3px;
    width: 130px;
    background-color: #47a1de;
    display: block;
    margin-top: 5px;
}

.slick-image-name {
    color: black;
    text-align: center;

}

.slick-image {
    margin: 0px 15px;
    transition: 1s;
}

.slick-image:hover .slick-image-name {
    color: orange;

}

/* .slick-image:hover {
    transform: translateY(-10px);
    transition: 1s;
} */


/* Bottom banner */

#bottom-banner {
    margin: 20px 0;
}

.banner-image {
    object-fit: cover;
    object-position: bottom;
    height: 300px;
    width: 100%;
}

/* Testimonial */

.testimonial-slider {
    background: transparent;
    width: 50%;
    margin: auto;

}

#testimonial-details .slick-header h5 {
    border-bottom: 1px solid #c8c8c8;
}

#testimonial-details .testimonial-slider .slick-next,
.testimonial-slider .slick-prev {
    display: none !important;
}

#testimonial-details {
    background-color: rgb(224, 229, 234);
    padding: 15px 0;
}

.testimonial-content {
    margin: 30px 0px;
}

.testimonial-image {
    width: 90px;
    border-radius: 50%;
    vertical-align: middle;
    height: 90px;

}

.testimonial-list {
    list-style-type: none;
    text-align: center;
    justify-content: center;
    color: black;
    margin: 0px 30px;
}

.tl-1 {
    font-weight: bolder;
}

.tl-2 {
    font-style: italic;
    font-weight: lighter;
}

.slick-arrow::before {
    color: black;
    background: transparent !important;
    font-size: 30px;
}

.slick-next {
    right: -30px;
}

.slick-prev {
    left: -35px;
}

/* Footer part */

a:hover {
    text-decoration: none;
}

#footer-wrap {
    background-color: aliceblue;
    padding: 30px 0;
}


.footer-company-item {
    list-style-type: none;
    /* color: #4fa4df; */
    color: #00487a;
    transition: 1s;

}

.footer-company-item a {
    color: #22397e;
}

.footer-company-item:hover a {
    color: orange;
}

.footer-company-item:hover {
    transform: translateX(20px);
    transition: 1s;
}

.footer-company-item .logo-image {
    height: auto;
    width: 150px;
}

.company-address {
    color: #22397e;
}

.fa-caret-right {
    font-family: FontAwesome;
    font-style: normal;
    padding-right: 5px;
}


/* Newsletter part */

#newsletter {
    background-color: #252634;
}

.newsletter-wrap {
    text-align: center;
    padding: 7% 0;
}

.newsletter-wrap .form-wrap h1 {
    color: white;
}

.form-wrap p {
    margin-bottom: 15px;
    color: white;
}

.form-wrap h4 {
    color: white;
}

.input-wrap .input1 {
    line-height: 30px;
    width: 350px;
    border: none;
    background-color: whitesmoke;
    border-radius: 5px;
}

.input1::placeholder {
    color: #252634;
    padding-left: 15px;
}

.input-wrap .input2 {
    line-height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #f69a4b;
    color: white;
}

.input1:focus {
    outline: none;
}

.checkbox-wrap {
    margin: 5px 0 0 -65px;
    color: whitesmoke;
}


/* Payment footer */

.payment-wrap p {
    font-size: 14px;
    color: #22397e;
}

.payment-modes {
    width: 14%;

}

#payment {
    background-color: aliceblue;
    padding: 6px 0;
}

.payment-privacy {
    margin-top: 2.5px;
    color: #22397e !important;
}

.headersticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.top-nav-style {
    position: fixed;
    top: 4%;
    width: 100%;
    z-index: 1;
}

.headingsWrapping {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: cornsilk;
}

.popup {
    top: 50%;
}

/* .mySearch {
    background-color: red !important;
} */

.sticky {
    position: fixed;
    top: 14%;
    z-index: 1;
    left: 18.3%;
    /* transition: all 3s linear;
    left: 0;
    text-align: center;
    margin: auto;
    justify-content: center;
    animation: example 1s;
    transform: scaleX(1);
    width: 100%;
    border-radius: 0 !important; */


}

/* @keyframes example {
    0% {
        width: 67%;
    }

    100% {
        width: 100%;
    }

} */

#form-inline-id {
    background-color: #202353;
    border-radius: 5px;
    padding: 8px 5px;
}

#form-inline-id .location-track-wrap {
    background-color: white;
    border-radius: 5px;
    width: 21%;
}

#form-inline-id .location-track-wrap input {
    width: 60%;
}

.asd {
    top: unset;
    transform: unset;
    left: 16.5%;
    width: 100%;
    /* transition: width 3s linear; */

}

.slick-image-only {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slick1 {
    width: 100%;
    height: 100%;
    transition: transform ease 0.3s;
}

.slick1:hover {
    transform: scale(1.2);
}







/* End of index.html page */


/* Starting of hotels.html page */
.search-bar-wrap {
    text-align: center;
}

.search-bar {
    border-radius: 5px;
    border: 1px solid black;
    line-height: 40px;
    margin: 20px 0;
    width: 70%;
}

.search-bar::placeholder {
    color: gray;
    text-align: center;
}

.search-bar-btn {
    margin: 20px 0;
    line-height: 43px;
    border-radius: 5px;
    margin: 0 10px;
    width: 20%;
    border: none;
    background-color: steelblue;
    color: whitesmoke;
}

.last-minute-hotel-heading {
    margin: 20px 0;
}

#hotels-list-page #nav-bar {
    background-color: aliceblue;
}

.hotel-card {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 20px 0;
}

.hotel-card::after {
    content: '';
    display: block;
    margin-top: 10px;
}

.hotel-card-title {
    color: #000;
    font-size: 18px;
}

.hotel-card-subtitle {
    color: gray;
}

.hotel-card-content {
    width: 100%;
    margin: 0 20px;
}

.hotel-card-image {
    height: auto;
    width: 120px;
}

.hotel-deals {
    margin: 10px;
}

.hotel-price-display-label {
    color: gray;
}

.hotel-price-display-label-price {
    font-weight: bolder;
    font-size: 18px;
}

.hotel-deals-more {
    text-align: center;
}

.hotel-card-button {
    border-radius: 5px;
    line-height: 50px;
    margin: 10px;
    background-color: #00487a;
    color: whitesmoke;
    border-style: none;
}

.hotel-card-button span {
    text-align: center;
    padding: 10px;
}






/* End of hotels.html page */


/* Start of Hotel Details page */
/* #hotelDetailPage {
    background-color: #edf6ff;
} */

#hotelDetailPage .nav-item a:hover {
    color: orange;
}

#hotelDetailPage .navigation-bar {
    /* border-bottom: 1px solid gray; */
    padding: 0 20px;
    background-color: aliceblue;
}

#hotelDetailPage .headersticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#hotelDetailPage .top-nav-style {
    position: fixed;
    top: 4%;
    width: 100%;
    z-index: 1;
}

.breadcrumb {
    background-color: transparent;


}

#breadcrumb-wrapper {
    margin: 10px 40px;
    background-color: #f3f1f1;
    border-radius: 5px;
}

#breadcrumb-wrapper .breadcrumb li a {
    color: black;
}

.breadcrumb li {
    position: relative;
    margin-right: 10px;
}

.breadcrumb li:not(:last-of-type):after {
    position: absolute;
    right: 0;
    content: ">";
    color: black;
    opacity: 1.5;
    bottom: 0;
    font-size: 12px;
}

.breadcrumb li a {
    text-transform: capitalize !important;
    color: #888;
    padding-right: 12px;
    font-size: 12px;
}

.hotelDetail {
    margin: 10px 40px;
    background-color: #f3f1f1;
    border-radius: 5px;
}

.hotelDetail .hotel-detail-wrap {
    padding: 10px 0;
}

.hotelDetail .hotel-detail-wrap .hotel-detail-header h3 {
    color: #22397e;
}

.hotel-image {
    width: 100%;
    height: auto;
}

#hotel-description-review {
    background-color: #f3f1f1;
    margin: 10px 40px;
    border-radius: 5px;
}

.hotelDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}

.hotelDetail li {
    list-style-type: none;
}

.hotel-details-images-content {
    display: flex;
}

.hotel-details-image {
    width: 100%;
    height: 70px;
}

.hotelDescription .deal-price p {
    font-size: 14px;
    color: rgb(80, 138, 65);
    display: inline;
}

.hotelDescription .deal-price .pp {
    float: right;
}

.hotelDescription .book-now p {
    font-size: 15px;
    color: green;
    font-style: italic;
    display: inline;
}

.basic-description-list .fa {
    padding: 0 5px;
}

.basic-description-list {
    padding-right: 20px;
}

.hotelDescription .basic-facilities {
    font-size: 12px;
    color: #47a1de;
    padding: 5px 0;
}

.hotelDescription .payment-options {
    font-size: 12px;
    color: #47a1de;
}

.hotelDescription .payment-options h6 {
    font-size: 14px;
    color: #2cb327;
}

.normal-rate {
    font-size: 14px;
}

.normal-rate p {
    display: inline;
}

.classic-room {
    display: inline;
}

.normal-rate .nr-text {
    color: green;
}

.normal-rate .nr-p {
    float: right;
    color: green;
    font-size: 16px;
}

.bookNow {
    float: right;
    margin: 10px 0;
    border-radius: 5px;
    height: 80%;
    font-size: 16px;
    color: white;
    background-color: dodgerblue;
    border: none;
    width: 100%;
}

#hotelDetailPage .deal-price {
    display: inline-flex;
}

/* #first-tab {
    background-color: red;
} */
#hotelDetailPage .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: cadetblue;
}

#hotelDetailPage .room-options li {
    display: inline;
}

.bed-info {
    padding: 10px 0;
}

.bed-info h5 {
    color: brown;
}

.bed-info nav {
    margin: 10px 0;
}

#hotel-description-review li {
    list-style-type: none;
    padding: 5px 0;
    font-size: 15px;
}

#hotel-description-review .hotel-description-wrap {
    padding: 20px 0;
}

#hotel-description-review .tab-content {
    background-color: white;
    border-radius: 5px;
}

#reason-to-choose {
    margin: 10px 40px;
}

#reason-to-choose .reasonsToChoose {
    list-style-type: none;
}

.reason-to-choose-wrap {
    background-color: #f3f1f1;
    padding: 20px 0;
    border-radius: 5px;
}

.reason-to-choose-wrap h4 {
    color: #22397e;
}

.reason-to-choose-wrap .reasonsToChoose {
    margin: 5px 0;
}

#hotelDetailPage .room-options h6 {
    color: #00487a;
    font-size: 16px;
}

#hotelDetailPage .room-options p {
    font-size: 14px;
}

/* .hotelDescription .p-ratings,
.dealPrice,
.bookNow {
    float: right;
} */

.bookNow:hover {
    color: orange;
}

.services {
    border: 1px solid gray;
    border-radius: 5px;
}

.services-header {
    margin: 15px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    color: #22397e;
}

.services-item {
    margin: 15px;
    font-weight: bold;
}


.services-item span {
    margin: 0px 5px;
}

.related-hotels {
    background-color: #f3f1f1 !important;
    margin: 10px 40px;
    border-radius: 5px;
}

.related-hotels .related-hotels-wrap {
    padding: 20px 0;
}

.related-hotels .related-hotels-wrap h4 {
    color: #22397e;
}

.related-hotels-items {
    display: flex;
    margin: 20px 0;
}

.related-hotels-items h6 {
    margin-top: 10px;
    color: #22397e;
}


.related-hotels-items a {
    color: black;
}

.related-hotels-items a:hover {
    color: orange;
}



/* Zoom on hover plugin */
.zoom,
.original {
    position: relative;
}

.zoom {
    display: inline-block;
}

.original {
    cursor: crosshair;
}

/* #target {
    width: calc(var(--t) / 2);
} */

.zoom .viewer {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.zoom .viewer img {
    position: absolute;
}

.original:hover~div {
    display: block;
}

.original::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.magnifier {
    position: absolute;
    background: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
}


.magnifier,
.viewer {
    display: none;
}

.related-hotels-items .slick-prev {
    top: 30%;
}

.related-hotels-items .slick-next {
    top: 30%;
}

/* magnific popup starts*/


/* maginific popup ends */

.travellers-review {
    color: #2cb327
}

.related-hotels-items .slick-slide img {
    width: 100%;
}

.services-list .fa {
    color: #22397e;
}

.basic-description-list li {
    display: inline;
}

.basic-description-list li label {
    padding: 0 5px;
}

.faq-lists {
    list-style-type: none;
}

.faq-intro {
    background-color: gray;
    height: 100%;
}

.faq-content-row-inner {
    border: 1px solid gray;
    background-color: white;
    height: 50px;
}




/* About Booking Page */

#about-booking-page .aboutNavBar {
    background-color: aliceblue;
}

#about-booking-page .aboutNavBar .navbar .nav-item a {
    color: dimgrey;
}

#about-booking-page .aboutNavBar .navbar .nav-item a:hover {
    color: orange;
}

#about-booking-page .top-background-image .banner-content {
    top: 40%;
    left: 35%;
}

#about-booking-page .top-background-image .banner-content-header {
    font-size: 60px;
    color: white;
}

#about-booking-page .top-background-image {
    margin-bottom: 25%;
}

#about-booking-page .top-background-image .background-banner-image {
    object-fit: cover;
    width: 100%;
    height: 70vh;
}

#about-booking-page .overlay-banner-wrap {
    top: 65%;
    left: 15%;
    background-color: aliceblue;
    border-radius: 10px;
    width: 70%;
}

#about-booking-page .overlay-banner-content {
    padding: 50px;
}

#about-booking-page .more-about-us {
    background-color: #f1f7f6;
    width: 100%;
    height: auto;
}

#about-booking-page .a-bit-more-header {
    font-size: 35px;
    width: 100%;
    text-align: center;
    padding-top: 3.5%;
}

#about-booking-page .more-about-us .overlay-wrap {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 5%;
}

#about-booking-page .more-about-us .overlay-1 {
    background-color: blueviolet;
    border-radius: 10px;
    height: 100%;
    color: white;

}

#about-booking-page .more-about-us .overlay-1-header,
.overlay-2-header {
    padding: 7%;
}

#about-booking-page .more-about-us .overlay-1-content-text,
.overlay-2-content-text {
    font-size: 30px;
    padding: 0 7%;
}

#about-booking-page .more-about-us .overlay-1-content .read-more,
.overlay-2-content .read-more {
    padding: 5% 0 5% 7%;
}

#about-booking-page .more-about-us .overlay-2 {
    background-color: blueviolet;
    border-radius: 10px;
    height: 100%;
    color: white;
}

#about-booking-page .more-about-us .overlay-1 a,
.overlay-2 a {
    color: white;
}

#about-booking-page .more-about-us .overlay-1 a:hover,
.overlay-2 a:hover {
    color: orange;
}

#about-booking-page .fade-navigation-bar .navbar {
    width: 40%;
    transform: translateX(80%);
    justify-content: center;
    border-radius: 10px;
}

#about-booking-page .fade-navigation-bar .nav-item {
    padding: 0 20px;
}

#about-booking-page .fade-navigation-bar .nav-bar-nav a:hover {
    color: orange !important;
}

.hidden-nav-bar {
    top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: aliceblue !important;
}

.followUs p {
    font-size: 16px;
    padding-top: 5px;
    color: #00487a;
}

.follow-through {
    list-style-type: none;
    padding: 3%;
    text-align: center;

}

.follow-through .follow-item {
    display: inline;
    padding: 0 20px;
}

.follow-through .follow-item a {
    color: #000 !important;
}

.follow-through .follow-item .fab {
    color: cornflowerblue;
    font-size: 30px;
}


/* Login Page */

.log-in-page {
    background-color: aliceblue;
}

#login-page-wrap {

    margin: 10% 5%;
}

.logo-login .img-fluid {
    width: 70%;
    transform: translateX(22%);
    margin-bottom: 7%;
}

#login-page-wrap .login-wrap {
    background-color: white;
    border-radius: 10px;
}

#login-page-wrap .login-wrap .login-info {
    margin: 25px 10px;
}

#login-page-wrap .login-wrap .login-email {
    line-height: 40px;
    width: 100%;
    padding: 0 10px;
}

#login-page-wrap .login-wrap .login-password {
    line-height: 40px;
    width: 100%;
    padding: 0 10px;
}

#login-page-wrap .login-wrap .login-btn {
    line-height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #47a1de;
    color: white;
}

#login-page-wrap .login-wrap .forget-password {
    margin: 10px 0;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    text-align: center;
}

#login-page-wrap .login-wrap .forget-password a:hover {
    text-decoration: underline;
    color: #007bff;
}

#login-page-wrap .login-wrap .signup-btn {
    border: none;
    margin-bottom: 30px;
    background-color: #2cb327;
    color: white;
    border-radius: 5px;
    line-height: 40px;
    width: 60%;
}


/* Sign Up page */

.sign-up-page {
    background-color: aliceblue;
}

#signup-page-wrap {
    margin: 10% 0;
}

.logo-signup .img-fluid {
    width: 50%;
    transform: translateX(45%);
    margin-bottom: 5%;
}

#signup-page-wrap .signup-wrap {
    background-color: white;
    border-radius: 10px;
}

#signup-page-wrap .signup-wrap .signup-info {
    margin: 25px 10px;
}

#signup-page-wrap .signup-wrap .signup-info .input-fn {
    line-height: 40px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

#signup-page-wrap .signup-wrap .signup-info .input-ln {
    line-height: 40px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

#signup-page-wrap .signup-wrap .signup-info .input-en {
    line-height: 40px;
    padding: 0 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
}

#signup-page-wrap .signup-wrap .signup-info .input-p {
    line-height: 40px;
    padding: 0 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
}

#signup-page-wrap .signup-wrap .signup-info .input-rp {
    line-height: 40px;
    padding: 0 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
}

#signup-page-wrap .signup-wrap .signup-info .signup-birthdate {
    line-height: 40px;
    width: 100%;
}

#signup-page-wrap .signup-wrap .signup-info .signup-birthdate #month {
    width: 100%;
    height: 40px;
}

#signup-page-wrap .signup-wrap .signup-info .signup-birthdate #day {
    width: 100%;
    height: 40px;
}

#signup-page-wrap .signup-wrap .signup-info .signup-birthdate #year {
    width: 100%;
    height: 40px;
}

#signup-page-wrap .signup-wrap .signup-info .gender-wrapper {
    font-size: 13.5px;
}

#signup-page-wrap .signup-wrap .signup-info .male-wrap {
    height: 40px;
    border: 1px solid gray;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 5px !important;
    margin-right: 5px;
}

#signup-page-wrap .signup-wrap .signup-info .female-wrap {
    height: 40px;
    border: 1px solid gray;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 5px !important;
    margin-right: 5px;
}

#signup-page-wrap .signup-wrap .signup-info .custom-wrap {
    border: 1px solid gray;
    height: 40px;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 5px !important;
}

#signup-page-wrap .signup-wrap .signup-info .gender-custom {
    line-height: 35px;
    width: 100%;
    display: none;
}

#signup-page-wrap .signup-wrap .signup-btn {
    line-height: 40px;
    width: 50%;
    border: none;
    background-color: #2cb327;
    color: white;
    border-radius: 5px;
}

#signup-page-wrap .signup-wrap .signup-btn-wrap {
    text-align: center;
}

/* BookInfo page starts */

#book-now-page .hotel-info-wrap {
    margin: 20px 0;
}

#book-now-page .customer-details-wrap .hotel-info .hotel-rating .fa-star {
    color: orange;
    padding: 0 1px;
}

#book-now-page .customer-details-wrap .hotel-info .reserve-btn {
    background-color: #007bff;
}

#book-now-page .hotel-info {
    border: 0.5px solid lightgray;
    border-radius: 2px;
    padding: 15px;
    margin: 20px 0;
}

#book-now-page .customer-date-plan {
    border: 0.5px solid lightgray;
    border-radius: 2px;
    padding: 15px;
    margin: 20px 0;
}

#book-now-page .check-in-date::after {
    content: "";
    border-right: 0.5px solid lightgray;
    display: block;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

#book-now-page .check-in-date {
    position: relative;
}

#book-now-page .stay-in::after {
    content: "";
    border-bottom: 0.5px solid lightgray;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 0;
}

#book-now-page .stay-in {
    position: relative;
    padding: 10px 0;
}

#book-now-page .change-option a {
    color: #47a1de;
}

#book-now-page .customer-details-wrap .customer-details {
    border: 0.3px solid lightgray;
    border-radius: 2px;
    padding: 20px 15px;
    background-color: aliceblue;
}

#book-now-page .customer-details-wrap .customer-details .info-alert {
    background-color: #bff2bf;
    color: darkgreen;
    margin: 5px 0;
    padding: 0 5px;
    width: 50%;
    border-radius: 3px;
}

#book-now-page .customer-details-wrap .classic-tripple-room-details {
    border: 0.3px solid lightgray;
    border-radius: 2px;
    padding: 20px 15px;
    background-color: aliceblue;
    margin: 20px 0;
}

#book-now-page .customer-details-wrap .arrival-time-wrap {
    border: 0.3px solid lightgray;
    border-radius: 2px;
    padding: 20px 15px;
    background-color: aliceblue;
    margin: 20px 0;
    font-size: 14px !important;
}

#book-now-page .customer-details-wrap .price-currency-wrap {
    border: 0.3px solid lightgray;
}

#book-now-page .customer-details-wrap .price-currency-wrap .price-wrap {
    background-color: aliceblue;
    padding: 10px;
}

#book-now-page .customer-details-wrap .price-currency-wrap .currency-wrap {
    background-color: aliceblue;
    padding: 10px;
}

#book-now-page .customer-details-wrap .price-currency-wrap .currency-details {
    padding: 10px;
}

#book-now-page .customer-details-wrap .payment-schedule {
    border: 0.3px solid lightgray;
    margin: 20px 0;
    padding: 10px;
}

#book-now-page .customer-details-wrap .refund-schedule {
    border: 0.3px solid lightgray;
    margin: 20px 0;
    padding: 10px;
}

#book-now-page .customer-details-wrap .email-wrap input {
    width: 50%;
}

#book-now-page .customer-details-wrap .classic-tripple-room-details input {
    width: 100%;
}

#book-now-page #guestDetail {
    display: none;
}

/* flight search page */

#flight-booking-page .search-flight-wrap .flight-search-bar-text {
    text-align: center;
    font-size: 20px;
    margin: 5% 0;
}

#flight-booking-page .search-flight-wrap .search-flight {
    margin: 10% 0;
}

#flight-booking-page .search-flight-wrap .before-search-bar {
    margin: 2% 0;
}

#flight-booking-page .search-flight-wrap .before-search-bar a {
    color: #000;
}

#flight-booking-page .search-flight-wrap .before-search-bar .search-topic {
    margin: 0 20px;
}

#flight-booking-page .search-flight-wrap .flight-search-bar {
    background-color: #22397e;
    padding: 1px 0;

}

#flight-booking-page .search-flight-wrap .flight-search-bar .FromLocation {
    border: none;
    margin-left: 5px;
    outline: none;
}

#flight-booking-page .search-flight-wrap .flight-search-bar .ToLocation {
    border: none;
    margin-left: 5px;
    outline: none;
}


#flight-booking-page .search-flight-wrap .flight-search-bar .depart-date {
    border: none;
    margin-left: 5px;
    outline: none;
}

#flight-booking-page .search-flight-wrap .flight-search-bar .return-date {
    border: none;
    margin-left: 5px;
    outline: none;
}

#flight-booking-page .search-flight-wrap .flight-search-bar .flight-search-btn {
    border: none;
    background-color: #47a1de;
    width: 99% !important;
    margin: 0 5px;
}

#flight-booking-page .search-flight-wrap .flight-search-bar .sb-item {
    line-height: 50px;
    border-radius: 2px;
    width: 100%;
    margin: 0 1px;
    text-align: center;
}

#flight-booking-page .search-flight-wrap .flight-search-bar .sb-head {
    margin-right: 1px;
}

/* Cinema page */

.cinema-pages-wrap .cinema-top-nav {
    background-color: aliceblue;
}

.cinema-pages-wrap .cinema-top-nav-wrap .sign-in-btn {
    border: none;
    background-color: #47a1de;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}

.cinema-pages-wrap .cinema-top-nav-wrap .sign-up-btn {
    border: none;
    background-color: #47a1de;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}

/* .cinema-pages-wrap .cinema-top-nav .search-movies-wrap {
    width: 350px;
} */

.cinema-pages-wrap .cinema-top-nav .search-movies-wrap .search-movies {
    width: 600px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    border: 2px solid #47a1de;
}

.cinema-pages-wrap .cinema-top-nav-wrap #sign-in-btn-id a {
    color: white;
}

.cinema-pages-wrap .cinema-top-nav-wrap #sign-up-btn-id a {
    color: white;
}

.cinema-pages-wrap .cinema-top-nav-wrap .nav-bar-nav .nav-item {
    margin: 0 10px;
}

.cinema-pages-wrap .cinema-top-nav-wrap .nav-bar-nav .option-bar {
    font-size: 24px;
}

.cinema-pages-wrap .cinema-slick-content .slick-prev {
    z-index: 1;
    left: 20px;
    display: none;
}

.cinema-pages-wrap .cinema-slick-content .slick-prev::before {
    content: "\f191";
    font-family: FontAwesome;
    display: block;
    color: white;
    opacity: 0.6;
    display: none;
}

.cinema-pages-wrap .cinema-slick-content .slick-dots {
    bottom: 20px;
}

.cinema-pages-wrap .cinema-slick-content .slick-dots li {
    border: 1px solid white;
    border-radius: 50%;
}

.cinema-pages-wrap .cinema-slick-content .slick-dots li.slick-active button:before {
    color: #47a1de !important;
    font-size: 15px;
    opacity: unset;
    left: -1px;
}

.cinema-pages-wrap .cinema-slick-content .slick-dots li button:before {
    color: transparent;
}


.cinema-pages-wrap .cinema-slick-content .slick-next {
    z-index: 1;
    right: 30px;
}

.cinema-pages-wrap .cinema-slick-content .slick-next::before {
    content: "\f152";
    font-family: FontAwesome;
    display: block;
    color: white !important;
    opacity: 0.6;
    display: none;
}

.cinema-pages-wrap .cinema-slick-content:hover .slick-arrow::before,
.slick-next::before {
    display: block;
}

.cinema-banner-slick-wrap .cinema-slick-content .cinema-slick-image {
    opacity: 0.6;
}

.cinema-banner-slick-wrap .cinema-slick-content .banner-cinema-image {
    background-color: #000;
}

.cinema-banner-slick-wrap .cinema-slick-content .banner-front-wrap {
    position: absolute;
    left: 30px;
    top: 70%;
    width: 100%;
}

.cinema-banner-slick-wrap .cinema-slick-content .banner-front-wrap .banner-content {
    margin-top: 15px;
    /* animation-name: slideLeft;
    animation-duration: 2s; */
    position: absolute;
    text-transform: uppercase;
    /* visibility: visible !important; */
}

/* @keyframes slideLeft {
    0% {
        opacity: 0;
        left: 50%;
    }

    100% {
        opacity: 1;
        left: 20px;
    }
} */

.cinema-banner-slick-wrap .cinema-slick-content .banner-front-wrap .banner-content .banner-content-item {
    display: inline-block;
}

.cinema-banner-slick-wrap .cinema-slick-content .banner-front-wrap .banner-content .show-trailer-now {
    margin-left: 15px;
}

.cinema-banner-slick-wrap .banner-header {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 5px;
    /* animation-name: slideDown;
    animation-duration: 2s;
    visibility: visible !important; */
}

/* @keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }

    50% {
        -webkit-transform: translateY(8%);
        transform: translateY(8%)
    }

    65% {
        -webkit-transform: translateY(-4%);
        transform: translateY(-4%)
    }

    80% {
        -webkit-transform: translateY(4%);
        transform: translateY(4%)
    }

    95% {
        -webkit-transform: translateY(-2%);
        transform: translateY(-2%)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
} */

.cinema-banner-slick-wrap .cinema-slick-content .banner-front-wrap .banner-content a {
    color: white;
    font-size: 18px;
}


.cinema-pages-wrap .movie-selection-wrap {
    padding: 30px 0;
    margin: 10px 0;
}

.cinema-pages-wrap .movie-selection-wrap .movie-filter-wrap .filter-wrap {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 0 10px;
}

.cinema-pages-wrap .movie-selection-wrap .movie-filter-wrap .filter-wrap .filter-header {
    padding: 10px 5px;
}

/* .cinema-pages-wrap .movie-selection-wrap .movie-filter-wrap .filter-wrap .filter-header .format-head,
.genre-head,
.lang-head {
    color: #000;
} */

.cinema-pages-wrap .movie-selection-wrap .movie-filter-wrap .filter-wrap .filter-item {
    padding: 5px 15px;
    height: 190px;
    display: none;
}

.cinema-pages-wrap .movie-selection-wrap .movie-filter-wrap .filter-wrap .genre-item {
    height: 410px;
}

.cinema-pages-wrap .movie-selection-wrap .movie-filter-wrap .filter-wrap .filter-btn {
    font-size: 12px;
    border: 1px solid #47a1de;
    margin: 5px;
}

.cinema-pages-wrap .movie-selection-wrap .movie-filter-wrap .filter-wrap .filter-clear {
    color: gray;
    font-size: 12px;
}

.cinema-pages-wrap .movie-selection-wrap .movie-filter-wrap .genre-wrap {
    background-color: aliceblue;

    border-radius: 5px;
}

.cinema-pages-wrap .movie-selection-wrap .movie-filter-wrap .browse-btn {
    border: 1px solid #47a1de;
    color: #47a1de;
    width: 100%;
}

.cinema-pages-wrap .movie-type-wrap {
    margin: 15px 0;
}

.cinema-pages-wrap .movie-type-wrap .btn-collection {
    margin: 20px 0;
}

.cinema-pages-wrap .movie-type-wrap .btn-collection .btn {
    background-color: aliceblue;
    border: 1px solid #47a1de;
    border-radius: 25px;
    color: #22397e;
    margin: 0 5px;
}

.cinema-pages-wrap .movie-type-wrap .btn-collection .slick-prev {
    left: -20px;
}

.cinema-pages-wrap .movie-type-wrap .btn-collection .slick-next {
    right: -22px;
}

.cinema-pages-wrap .movie-type-wrap .btn-collection .slick-prev::before {
    content: "\f0d9";
    font-family: FontAwesome;
    color: #47a1de;
    font-size: 20px;
}

.cinema-pages-wrap .movie-type-wrap .btn-collection .slick-next::before {
    content: "\f0da";
    font-family: FontAwesome;
    color: #47a1de;
    font-size: 20px;
}

.cinema-pages-wrap .movie-selection-wrap .coming-soon-wrap {
    margin: 30px 0;
    padding: 25px 10px;
    background-color: aliceblue;
    /* border: 0.5px solid #22397e; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cinema-pages-wrap .movie-selection-wrap .movieGrid-wrap {
    margin: 30px 0;
    padding: 15px 0;
}


.cinema-pages-wrap .movieGrid-wrap .grid-wrap {
    margin: 10px 0;
}

.cinema-pages-wrap .movieGrid-wrap .grid-wrap a {
    color: #000;
}

.cinema-pages-wrap .movieGrid-wrap .grid-wrap p {
    color: gray;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Ribbon */
@import url(https://fonts.googleapis.com/css?family=Lato:700);

.ribbon {
    width: 100px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon::after,
.ribbon::before {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 150px;
    padding: 5px 0;
    background-color: #3498db;
    color: #fff;
    font: 700 12px/1 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.ribbon-top-right {
    top: -10px;
    right: -10px;
}

.ribbon-top-right::before {
    top: 0;
    left: 9.5px;
}

.ribbon-top-right::after {
    bottom: 59.5px;
    right: 0;
}

.ribbon-top-right span {
    left: -11px;
    top: 28px;
    transform: rotate(45deg);
}

.cinema-pages-wrap .movie-selection-wrap .cinema-hall-wrap .cinema-item {
    list-style-type: none;
    text-align: center;
}

.cinema-pages-wrap .movie-selection-wrap .cinema-hall-wrap .Cinema-halls {
    margin: 20px 0;
}

.cinema-pages-wrap .movie-selection-wrap .cinema-hall-wrap .cinema-item .cinema-image-wrap {
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 50%;
    background-color: #000;
    margin: auto;
}

.cinema-pages-wrap .movie-selection-wrap .cinema-hall-wrap .cinema-item .cinema-image-wrap .img-fluid {
    padding-top: 18px;
}

.cinema-pages-wrap .movie-selection-wrap .cinema-hall-wrap .Cinema-halls .slick-prev {
    top: 40px;
    left: -15px;
}

.cinema-pages-wrap .movie-selection-wrap .cinema-hall-wrap .Cinema-halls .slick-next {
    top: 40px;
    right: -15px;
}

.cinema-pages-wrap .movie-selection-wrap .cinema-hall-wrap .Cinema-halls .slick-prev::before {
    content: "\f0d9";
    font-family: FontAwesome;
    color: #000;
    font-size: 20px;
}

.cinema-pages-wrap .movie-selection-wrap .cinema-hall-wrap .Cinema-halls .slick-next::before {
    content: "\f0da";
    font-family: FontAwesome;
    color: #000;
    font-size: 20px;
}

.cinema-pages-wrap .movie-selection-wrap .cinema-hall-wrap .cinema-item a {
    color: #22397e;
}

.cinema-pages-wrap .movie-selection-wrap .cinema-hall-wrap .cinema-item a:hover {
    color: orange;
}

.cinema-pages-wrap .movieGrid-wrap .img-fluid:hover {
    transform: scale(1.2);

}

.cinema-pages-wrap .movieGrid-wrap .movie-details-grid .img-fluid {
    width: 100%;
    height: 100%;
    transition: transform ease 0.3s;
    border-radius: 10px;
}